@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-1B1B1D {
  background: #1b1b1d;
}

.bg-242526 {
  background: #242526;
}

.text-E3E3E3 {
  color: #e3e3e3;
}
body {
  background: #263238;
}

#nprogress .bar {
  background-color: #f4f4f4 !important;
  height: 3px !important;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}
::-webkit-scrollbar-corner {
  display: block;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border-right-color: transparent;
  border-left-color: transparent;
  background-color: rgba(0, 0, 0, 0.1);
}
